body {
    background: rgb(214, 131, 41);
    color: rgb(144, 69, 11);
    padding: 10px;
    font-family: arial;
        background-image: url("Images/image1935699383-4321-28c932ac62fd620010ea983a1d54d7ed@1x.jpg");
      }
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(239, 150, 41);
   margin: 0 auto;
   margin-bottom: 20px;
   border-radius: 10% / 50%;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(115, 56, 7);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: ;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #953712;
}

/* main container area beneath menu */
main {
    background: rgb(245, 182, 130);
    display: flex;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #000000;
    
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

#interests {
    border: 4px rgb(188, 118, 39) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: rgb(135, 84, 18);
        }

        #portfolio {
            list-style-type: none;
            padding-left: ;
        }

        #portfolio li {
            background: #f0af69;
            padding: 10px;
            border-radius: 30px ;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #f9e7cb;
        }

        #portfolio a {
            text-decoration: none;
            color: #5b340a;
        }